@import 'normalize';
html {
    font-family: 'Roboto';
}
body {
    background-color: #bdc3c7;
    margin: 0;
    font-family: 'Roboto';
}

#app-container {
    width: 100%;
    overflow: hidden;
}

#app-header {
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #2ecc71;
    text-align: center;
    h1 {
        line-height: 10vh;
        margin: 0;
        color: white;
    }
}

#app-body {
    padding-top: 15vh;
    width: 80%;
    margin: 0 auto;
    min-height: 75vh;
    .search-form {
        //width: 60%;
        margin: 0 auto 20px auto;
        text-align: center;
        font-size: 22px;
        input[type="text"] {
            padding: 10px 14px;
            border-radius: 10px;
            border: none;
            width: 250px;
        }
    }
}

#app-footer {
    width: 100%;
    min-height: 10vh;
    p {
        margin: 0 auto;
        width: 40%;
        text-align: center;
        padding-top: 30px;
        border-top: 1px solid #7f8c8d;
    }
}

.tv-shows {
    display: flex;
    flex-direction: column;
}

.tv-show {
    width: 100%;
    overflow: hidden;
    padding: 16px;
    background-color: white;
    margin-bottom: 16px;
    display: flex;
    box-sizing: border-box;
    &:hover {
        background-color: #ecf0f1;
    }
    img {
        //max-height: 60px;
        //max-width: 100px;
    }
    .info {
        padding-left: 20px;
    }
    @media all and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        .info {
            padding: 0 10px;
            text-align: center;
        }
    }
}
