table
	background white
	margin 0 auto
	.mesnum
		font-weight normal
		font-size 30px
	.mes
		font-weight normal
		font-size 25px
	.des
		font-weight bold
	td
		text-align left
		vertical-align top
	table
		background white
		font-weight bold
		font-style serif
		margin 5px
		th
			text-align center
			background grey
			width 30px
			color white
		td
			text-align center
		.fn
			background green
			color white
			width 30px
		.fb
			background yellow
			width 30px